* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
}

li, buttons, label, input, p, a {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4, h5 {
  font-size: 2rem;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-header {
  margin: 0 0 0 auto;
  width: 95%;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
  width: 60%;
}

nav .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav .logo h1 {
  margin: 0 2rem;
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  min-height: 90vh;
  width: 90%;
}

.intro h2 {
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  background-clip: text;
  display: inline-block;
  font-size: 8rem;
  padding-top: 2rem;
  -webkit-text-fill-color: transparent;
}

.intro h3 {
  font-size: 6rem;
  padding: 2rem 0;
}

.intro p {
  color: #2c2c2c;
  padding-top: 2rem;
}

.splash {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 5rem;
}

.active {
  background: #2c2c2c;
  border-radius: 2rem;
  color: white;
  padding: 1rem 3rem;
}

.intro-text {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}

.intro-images {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

.intro-images svg {
  width: 100%;
}

#plant-left {
  -webkit-animation: plant 1.5s ease infinite alternate;
          animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
          animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  -webkit-animation: me 2s ease infinite alternate;
          animation: me 2s ease infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
}

#clock-arrow {
  -webkit-animation: clock 60s linear infinite;
          animation: clock 60s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  to {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
}

@-webkit-keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plant {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@media only screen and (max-width: 1332px) {
  html {
    font-size: 53%;
  }
  nav {
    width: 100%;
  }
}

@media only screen and (max-width: 942px) {
  .splash {
    display: none;
  }
  .intro-images {
    padding: 6rem 0;
  }
  .intro-images svg {
    height: auto;
  }
}

@media only screen and (max-width: 756px) {
  html {
    font-size: 46%;
  }
  .main-header {
    width: 100%;
  }
  nav .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .active {
    padding: 1rem 2rem;
  }
  .intro-text {
    margin-top: 6rem;
    text-align: center;
  }
  .intro-social a {
    margin: 0;
    padding: 0 1rem;
  }
  .intro-social img {
    width: 40px;
  }
}

@media only screen and (max-width: 410px) {
  nav .logo {
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=styles.css.map */